html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

header {
    background-color: #252d3a;
    color: white;
    font-family: georgia;
    padding-top: 95px;
    background-image: url("./img/logo.jpeg");
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: 50% 15%;
    width: 100%;
}

h1.logo {
    font-size: 2.7rem; 
    text-align: center;
    margin-bottom: 0;
}

hr {
    width: 400px;
}

.toolbar {
    display: flex;
    max-width: 720px;
    margin: auto;
    padding: 0;
    justify-content: center;
}

.nav-bar {
    margin: 5px 20px 10px 20px;
}

.nav-bar:hover {
    cursor: pointer;
    text-decoration: underline;
}

span.nav-bar {
    font-size: 2.4rem;
}

/* ------- Main ------- */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./img/groupPhoto.jpeg");
    height: calc(100% - 200px);
    background-size: cover;
    background-position: 50% 50%;
}

div.main {
    flex: 0 1 1;
    background-color: rgba(36, 36, 36, 0.753);
    color: white;
    text-align: center;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px rgb(56, 56, 56);
}

@media (max-height: 500px) {
    div.main {
        display: none;
    }
}

h1.main {
    font-size: 4rem;
    margin: 0;
}

h2.main {
    font-size: 2.2rem;
}

.order {
    border: 1px solid white;
    width: 120px;
    padding: 10px;
    font-size: 1.8rem;
    border-radius: 4px;
}

.order:hover {
    box-shadow: 0 0  1px 1px white;
    cursor: pointer;
}

/*------- Menu ------*/
.wrapper {
    background-color:white;
    height: calc(100% - 200px);
}

h1.title {
    font-size: 4rem; 
    text-align: center;
    margin: 0;
    padding: 40px;
}

.main-menu {
    max-width: 1080px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dish-preview {
    width: 500px;
    height: 350px;
    background-image: url("./img/default.jpeg");
    background-position: 50% 50%;
    box-shadow: 0px 0px 6px 1px rgba(109, 109, 109, 0.527);
    background-size: cover;
}

ul.dishes {
    height: 100%;
    list-style: none;
}

li {
    font-size: 2rem;
    margin: 10px;
}

li:hover {
    text-decoration: underline;
}

#furikake.dish-preview {
    background-image: url("./img/furikake.jpeg");
}

#rainbow.dish-preview {
    background-image: url("./img/rainbow.jpeg");
}

#steak.dish-preview {
    background-image: url("./img/steak.jpeg");
}

#pork.dish-preview {
    background-image: url("./img/pork.jpeg");
}

#karaage.dish-preview {
    background-image: url("./img/karaage.jpeg");
}

#ramen.dish-preview {
    background-image: url("./img/ramen.jpeg");
}

#gyoza.dish-preview {
    background-image: url("./img/gyoza.jpeg");
}

#tempura.dish-preview {
    background-image: url("./img/tempura.jpeg");
}

#risotto.dish-preview {
    background-image: url("./img/risotto.jpeg");
}

/* ------ CONTACT -------*/
.contact-wrapper {
    background-image: url(./img/restaurang.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact-content {
    background-color:rgba(36, 36, 36, 0.753);
    max-width: 1080px;
    margin: auto;
    padding: 30px;
}

form {
    margin-right: 30px;
    text-align: center;
}

h1.title.contact {
    padding-top: 0;
    padding-bottom: 20px;
    color: white;
}

.form-item {
    position: relative;
    margin: 10px;
}

input, input.error:focus, textarea, textarea.error {
    font-size: 1.7rem;
    line-height: 1.23543;
    width: 100%;
    height: 3.3em;
    padding: 18px 16px 0px 16px;
    border: 1px solid #d6d6d6;
    color: #333;
    border-radius: 3px;
    background-color: white; 
}

input.error, textarea.error {
    background-color: #fef0f0;
}

input.error ~ .placeholder,
textarea.error ~ .placeholder {
    color: #de071c;
}

input:focus, textarea:focus {
    border-color: #0070c9;
    box-shadow: 0 0 0 3px rgba(131, 192, 253, .5);
    outline-offset: 1px;
}

input:focus ~ .placeholder, 
textarea:focus ~ .placeholder,
input.error:focus ~ .placeholder, 
textarea.error:focus ~ .placeholder,
input:valid ~ .placeholder, 
textarea:valid ~ .placeholder,
.has-input ~ .placeholder {
    top: 8px;
    font-size: 12px;
    color: #888;
}


textarea {
    height: 180px;
    padding-top: 25px;
}

.placeholder {
    position: absolute;
    top: 18px;
    left: 17px;
    color: #888;
    font-size: 17px;
    padding: 0;
    z-index: 1;
    transition-timing-function: ease-in;
    transition-duration: .125s;
    display: block;
    pointer-events: none;
}

.placeholder:focus {
    top: 0;
    font-size: 12px;
}

h1.form {
    color: white;
    text-align: center;
    font-size: 3rem;
}

button[type="submit"] {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background-color: white;
}

button[type="submit"]:hover {
    cursor: pointer;
    box-shadow: 0 0 0 2px #0070c9;
}

.error-message {
    color: white;
    margin: 3px;
    font-size: 1.4rem;
    text-align: left;
}

input:focus ~ .error-message,
textarea:focus ~ .error-message {
    display: none;
}